body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #2b2b2b ;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #969696;
}

.header h1{
    color: #f7f7f7;
    font-weight: bold;
    margin-left: 50px;
    line-height: 80px;
}

.content{
    margin-left: 50px;
    width: 1000px;

}

.node{
    margin-top: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px #dedede;
    padding-top: 15px;
    padding-bottom: 15px;
}

.node p{
    padding-left: 15px;
}
